.createQuizFullPage {
  background-image: url('./images/createQ.jpg');
  height: 94vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    font-family: sans-serif;
}
.titleSection {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  justify-content: space-around;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}
.createQuizSection {
  display: flex;
  justify-content: center;
  padding-top: 5vh;

}
.userQuestionsSection {
  display: flex;
  flex-direction: column;
  width: 60vw;
  font-size: 20px;
}
.userQuestionsSection input {
  font-size: 30px;

}
textarea {
  height: 80px;
  font-size: 30px;
}
.addQuestionButton {
  margin-top: 15px;
}
.one{
  opacity: .75;
}
@media (max-width: 768px) {
  textarea {
    height: 300px;
  }

}
