.theMainMain {
  background-image: url('https://www.decalgirl.com/assets/designs/large/library.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  font-family: sans-serif;

}
.triviaLetters img {
  height: 20vh;

}
.hubLetters img {
  height: 20vh;
}

.theStartButton {
  height: 150px;
  width: 150px;


}

.howTo {
  font-size: 50px
}
@media (max-width: 768px) {
  .triviaLetters img {
    height: 15vh;
  }
  .hubLetters img {
    height: 15vh;
  }

}
