.howToPlayPage {
  background-image: url('./images/howToPlay.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 94vh;
  padding: 50px;
  font-size: 30px;
  color: lightyellow;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
  font-family: sans-serif;

}
.howToPlayPage li {
  padding-top: 1vh;
}
.howToPlayPage ol {
  padding-top: 1vh;
}
.howToPlayPage h2 {
  padding-top: 1vh;
}
