#noMoreQuestionsSection {
background-image: url('./images/outOf.jpg');
height: 94vh;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
justify-content: space-around;
background-repeat: no-repeat;
background-size: cover;
}
.ofl {
  font-size: 80px;
  font-family: sans-serif;
  color: white;
}
.yourScore {
  font-size: 80px;
  font-family: sans-serif;
  color: gold;
}
