.postScoreSection {
  background-image: url("../images/literature.jpg");
  height: 94vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  font-family: sans-serif;
}
.userName {
  height: 80px;
  width: 50vw;
  border-radius: 15px;
  font-size: 60px;
  margin-bottom: 15px;
}
.theirScore {
  color: gold;
  text-shadow:
  -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  1px 1px 0 black;
}
@media (max-width: 768px) {
  .userName {
    font-size: 45px;
    margin-top: 10vh;

  }

}
