
<section class="chooseCat">
    <div class="ol animated bounceInDown">CHOOSE CATEGORY
      <div class="hvr-grow"choose-directive testattr="42">SPORTS</div>
      <div class="hvr-grow"choose-directive testattr="25">SCIENCE</div>
      <div class="hvr-grow"choose-directive testattr="114">HISTORY</div>
      <div class="hvr-grow"choose-directive testattr="309">MOVIES</div>
      <div class="hvr-grow"choose-directive testattr="21">ANIMALS</div>
      <div class="hvr-grow"choose-directive testattr="442">PEOPLE</div>
      <div class="hvr-grow"choose-directive testattr="67">TELEVISION</div>
      <div class="hvr-grow"choose-directive testattr="49">FOOD</div>
      <div class="hvr-grow"choose-directive testattr="267">NATURE</div>
      <div class="hvr-grow"choose-directive testattr="574">LITERATURE</div>
      <div class="hvr-grow"choose-directive testattr="99">RELIGION</div>
      <div class="hvr-grow theCustom" ng-click='chooseTheCustom()'>CUSTOM</div>


    </div>



</section>
