
<section class="chooseCat">
  <h1 class="animated infinite pulse">CHOOSE A CATEGORY</h1>
    <div class="ol animated bounceInDown">
      <div class="hvr-grow catBox"choose-directive testattr="42">SPORTS</div>
      <div class="hvr-grow catBox"choose-directive testattr="25">SCIENCE</div>
      <div class="hvr-grow catBox"choose-directive testattr="114">HISTORY</div>
      <div class="hvr-grow catBox"choose-directive testattr="309">MOVIES</div>
      <div class="hvr-grow catBox"choose-directive testattr="21">ANIMALS</div>
      <div class="hvr-grow catBox"choose-directive testattr="442">PEOPLE</div>
      <div class="hvr-grow catBox"choose-directive testattr="67">TELEVISION</div>
      <div class="hvr-grow catBox"choose-directive testattr="49">FOOD</div>
      <div class="hvr-grow catBox"choose-directive testattr="267">NATURE</div>
      <div class="hvr-grow catBox"choose-directive testattr="574">LITERATURE</div>
      <div class="hvr-grow catBox"choose-directive testattr="99">RELIGION</div>
      <div class="hvr-grow catBox theCustom" ng-click='chooseTheCustom()'>CUSTOM</div>


    </div>



</section>
