<section class="createQuizExplained">
  <div class="animated bounceInDown">
    <p>With Trivia Hub you can create your OWN CUSTOM QUIZ!</p>
    <p>After clicking the CONTINUE button to the right, you will be taken to Question Form page</p>
    <p>You will then need to fill in the input boxes with</p>
      <li>Your question Category</li>
      <li>The question Value</li>
      <li>Your Question</li>
      <li>Your Answer</li>
    <p>When finished filling out the form, CLICK the ADD TO QUIZ BUTTON</p>
      <li>You can add as many questions as you like to your quiz</li>
    <p>When your are finished adding questions, CLICK FINALIZE QUIZ</p>
      <li>This will take you to the choose category page</li>
        <li>Your quiz will show up as the CUSTOM category at the botton of the page</li>
        <li>Click on it and it will take you to YOUR CUSTOM QUIZ!</li>

  </div>
  <button class="animated bounceInUp"type="button" ng-click='goToChoose()'>CONTINUE</button>
</section>
