

<section choose-directive class="gameSection animated slideInLeft">
  <button ng-hide='hidden'class="newGame hvr-grow" ng-click="startNewGame()"><img src="http://flaticons.net/icons/Application/Command-Reset.png" alt="restart" /></button>

  <div ng-hide='hidden' class="scoreAndLives">
    <div class="lives">Lives:
        <my-directive class="theLives"></my-directive>

    </div>
    <div>Score: {{score}}</div>

  </div>
  <correct answer="correct"></correct>

<button ng-hide='startButtonHidden' class="hvr-grow" ng-click="getData()" type="button" name="button">Start Game</button>
<button ng-hide='hidden'type="button" name="button">TIME: {{countDown}}</button>


<section ng-hide='hidden' class="questionSection">
<div class="cat">
Category:
{{items.category.title.toUpperCase()}}
</div>
<div class='value'>
Value: {{items.value}}
</div>
<div class="question">
Question: {{items.question}}
</div>

</section>
<div class="compAnswer" ng-hide="answerHidden">Answer: {{items.answer}}</div>


    <div><input ng-hide='hidden' class='answer' ng-model="userAnswer" placeholder="Enter your answer"><button ng-hide='hidden' class="hvr-grow submitButton" ng-click="compareAnswer(userAnswer)">Submit</button></div>



</section>
