<section class="theMainMain">

  <div class="triviaLetters">
  <img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/32/T-400.png"/>
  <img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/30/R-400.png"/>
  <img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/21/I-300.png"/>
  <img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/34/V-400.png"/>
  <img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/21/I-300.png"/>
  <img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/13/A-400.png"/>

  </div>
<div class="hubLetters">
<img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/20/H-400.png"/>
<img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/33/U-200.png"/>
<img class="hvr-grow"src="http://etc.usf.edu/presentations/extras/letters/varsity_letters/08/14/B-400.png"/>

</div>
<img class="theStartButton hvr-grow animated infinite pulse"ng-click='goToTriviaSelection()'src="http://4.bp.blogspot.com/-jKxUs8LSRpY/U-oTGiuRhJI/AAAAAAAAAgA/Te045blRUo0/s1600/arrowtwinkblack.gif" alt="" />

      <a class="hvr-float howTo"ui-sref="howToPlay">How to Play</a>

  </section>

</section>
