<section class="theMainMain">

  <div class="triviaLetters">
  <img class="hvr-grow"src="images/T.png"/>
  <img class="hvr-grow"src="images/R.png"/>
  <img class="hvr-grow"src="images/I.png"/>
  <img class="hvr-grow"src="images/V.png"/>
  <img class="hvr-grow"src="images/I.png"/>
  <img class="hvr-grow"src="images/A.png"/>


  </div>
<div class="hubLetters">
  <img class="hvr-grow"src="images/H.png"/>
  <img class="hvr-grow"src="images/U.png"/>
  <img class="hvr-grow"src="images/B.png"/>


</div>
<img class="theStartButton hvr-grow animated infinite pulse"ng-click='goToTriviaSelection()'src="images/lightBulbArrow.gif" alt="" />

      <a class="hvr-float howTo"ui-sref="howToPlay">How to Play</a>

  </section>

</section>
