<section class="howToPlayPage ">
<h1 class="animated bounceInDown">Trivia Hub is a collection of Trivia questions to answer for FUN!</h1>
  <h2 class="animated bounceInDown">You can also Create your own CUSTOM QUESTIONS with the CREATE QUIZ option!</h2>
  <ol class="animated bounceInDown">How to play...
    <li>Click on Trivia Hub at the top of the page</li>
    <li>Select your trivia category</li>
    <li>Click Start Game</li>
    <li>The GOAL is to SCORE as many points as possible before you run out of LIVES</li>
    <li>You will only have 3 LIVES! Everytime you answer incorrectly you lose a life</li>
    <li>After each game you can POST your SCORE to see where you rank with others</li>
    <li>Have FUN and GOOD LUCK!</li>
  </ol>
</section>
